<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8;IE=EmulateIE9;IE=EmulateIE10;IE=EmulateIE11">
</head>

<body>
    <div id="browser_ie">
        <div class="brower_info">
            <div class="notice_info">
                <p>你的浏览器版本过低，可能导致网站不能正常访问！<br>为了你能正常使用网站功能，请使用这些浏览器。</p></div>
                <div class="browser_list">
                <span>
                <a href="http://rj.baidu.com/soft/detail/14744.html?ald" target="_blank">
                <img src="../resource/chrome.png"><br>chrome
                </a>
                </span>
                <span><a href="http://rj.baidu.com/soft/detail/11843.html?ald" target="_blank"><img src="../resource/firefox.png"><br>firefox
                </a></span>
                <span><a href="http://rj.baidu.com/soft/detail/12966.html?ald" target="_blank"><img src="../resource/safari.png"><br>safari
                </a></span>
                </div>
        </div>
    </div>
</body>

</html>